@use 'src/styles/vars';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-top: solid 1px rgb(201, 201, 201);

    &__banner {
        display: flex;
        align-items: center;
    
        &-logo {
          height: 40px;
        }
    
        &-title {
          font-family: 'Barlow', sans-serif;
          font-size: 1.4rem;
          letter-spacing: 0.2rem;
        }
    }

    &__link:hover {
        color: vars.$theme-color;
    }
}