@use 'src/styles/vars';

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  min-height: 110px;
  border-bottom: solid 1px rgb(201, 201, 201);

  &__banner {
    display: flex;
    align-items: center;

    &-logo {
      height: 80px;
    }

    &-title {
      font-family: 'Barlow', sans-serif;
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
    }
  }

  &__logged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__user {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &-avatar {
      width: 50px;
    }

    &-number {
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-size: 1.4rem;
    }

    &-name {
      font-size: 0.9rem;
    }
  }

  &__buttons--mobile {
    display: none;
  }

  &__buttons-container {
    display: flex;
    column-gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .header {

    &__buttons--desktop {
      display: none;
    }

    &__buttons--mobile {
      display: block;
    }
  }
}
